{%- if section.settings.show_announcement -%}
  <div class="announcement-bar" 
    style="
      background-color: {{ section.settings.background_color }};
      color: {{ section.settings.text_color }};
    "
  >
    <div class="container">
      <div class="announcement-bar-content">
        {%- if section.settings.link != blank -%}
          <a href="{{ section.settings.link }}" class="announcement-link">
        {%- endif -%}
          
        {%- if section.settings.text != blank -%}
          <p class="announcement-text">{{ section.settings.text | escape }}</p>
        {%- endif -%}
          
        {%- if section.settings.link != blank -%}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "default": true,
      "label": "Show announcement"
    },
    {
      "type": "text",
      "id": "text",
      "default": "Announce sales, deals or brand news",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#121212",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#ffffff",
      "label": "Text color"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
